h1, h2 {
  text-align: center;
  color: white;
}

body {
  background-color: darkgray;
}
ul {
  text-align: center;
  background-color: darkgreen;
  list-style: none;
  border: 15px;
  border-style: ridge;
  border-color: orange;
  width: 70% auto;
}

li {
  border: 15px;
  border-style: ridge;
  border-color: orange;
}

ul li {
  display: inline-block;
  margin: 60px auto;
}

/* #center {
  margin-left: 30px;
  margin-right: 30px;
} */
